*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.15; /* 1 */
}
a{
    text-decoration: none;
    color: #aaf;
}
p,a,input,button,li,select,label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 100%;
}
h1{
    font-size: 2em;
    margin: 0.67em 0;
}
h2{
    color: #ccd;
    font-size: 30px;
}
h3{
    color: #6af;
    margin: 10px 0px;
}
h4{
    color: #bff;
    text-align: left;
}
input,label,select,button{
    font-size: 15px;
}
img{
    object-fit:cover;
}
a{
    text-decoration: none;
    color: #c6c6ed;
}
span{
    color: #ccf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    list-style: none;
}
.exp{
    margin-left: 40px;
    padding: 5px 0px;
    list-style: circle;
    color: #aff;
}
.link{
    color: #aff;
    text-decoration: none;
}
.tec{
    color: #62f;
    font-weight: 500;
}
.personalLi{
    margin: 10px;
}
.icon{
    margin:0px 5px;
}
/*Barras*/
.barra{
    border-radius: 5px;
    border: 2px solid #acf;
    height: 30px;
    width: 100%;
    background: #45f;
    margin: 10px;
    display: flex;
}
.porcentaje{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    background: rgb(2,0,36);
background: linear-gradient(195deg, rgba(2,0,36,1) 7%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 81%);
    width: 30%;
    height: 100%;
    text-align: right;
    padding: 3px 5px;
}
.porcentaje.full{
    width: 100%;
}
.porcentaje.nofull{
    width: 70%;
}
/**/
.info{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #007;
}
.sub{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: #7b1694;
}
.tecnologias{
    width: 100%;
}
.imgTec{
    object-fit: fill;
    width: 150px;
    height: 140px;
}
/*Section(seccion 3)*/
body{
    background: #119;
    width: 100%;
}
/*Mi perfil*/
.seccionPerfil{
    width: 100%;
}
.miPerfil{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(150px,330px) minmax(200px,1fr);
    border: 5px solid #31d;
}
.miPerfil .infoPersonal{
    padding: 10px;
    background: #007;
    text-align: center;
}
.miPerfil .infoPersonal img{
    width: 50%;
    border-radius: 50%;
}
.miPerfil .infoPersonal .infoPer{
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.miPerfil .infoPersonal .infoPer p{
    color: #ccf;
    font-weight: 700;
}
.miPerfil .infoPersonal .infoPer h3{
    color: #a9a;
    width: 100%;
    text-align: start;
    margin-bottom: 15px;
}
.miPerfil .infoPersonal .infoPer span{
    color: #33f;
    width: 10px;
    height: 5px;
    margin-right: 5px;
    font-weight: bolder;
}
.miPerfil .infoPersonal .infoPer li{
    color: #ccf;
}
.miPerfil .infoProfesional{
    background: #29f;
    padding: 10px;
}
.miPerfil .infoProfesional h2{
    color: #314;
    padding: 10px 5px;
    font-size: 40px;
}
.miPerfil .infoProfesional .infoPro{
    margin: 40px 30px;
    padding: 10px;
    border-top: 6px groove #1C6EA4;
    border-radius: 10px 10px 36px 36px;
}
.miPerfil .infoProfesional .infoPro h3{
    color: #516;
    text-align: start;
}
.miPerfil .infoProfesional .infoPro p{
    color: #aff;
}

@media (max-width: 768px) {
    .miPerfil{
        display:block;
    }
}
